body{
    display: flex;
    align-items: center;
    justify-content: center;
  
}


.bg
{
    background:url("sampath.jpg") no-repeat center center/cover;
    top:-30px;
    left: -30px;
    position: absolute;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter:blur(30px);
}

.loading
{
    font-size: 50px;
    color: #ffff;
}






